
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    padding-left: 90px;
    padding-top: 26px;
}

.menu {
    display: flex;
    margin-right: 70px;
}

.menu__item-link {
    margin-left: 100px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #252B42;
}

.menu__item-link:hover {
    color: #FA4A0C;
}

.description {
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
    color: #F6F6F6;
}

.subtitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #FA4A0C;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
}

.description-subtitle {
    font-size: 24px;
    line-height: 38px;
    font-weight: 500;
    color: #737373;
}

.app {
    background-image: url('../img/background-app.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 619px;
}

.app__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.app__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__subtitle {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #F6F6F6;
    margin-top: 73px;
    margin-bottom: 17px;
}

.app__title {
    text-align: center;
    font-size: 58px;
    line-height: 80px;
    font-weight: 700;
    color: #FFFFFF;
    width: 965px;
    margin-bottom: 27px;
}

.app__title span{
    display: block;
}

.app_description {
    margin-bottom: 54px;
}


.app__btn {
    z-index: 3;
}

.app__button-playstore, .app__button-appstore {
    width: 236px;
    height: 68px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-left: 34px;
    border-radius: 40px;
    border-style: solid;
    text-align: center;
}

.app__button-playstore {
    background-color: #FA4A0C;
    border-color: transparent;
}
.app__button-appstore {
    background-color: transparent;
    color: #FFFFFF;
}

.app__img {
    z-index: 1;
    margin: -130px 170px 0 0;
}

.app__end {
    background-color: #E4E4E4;
    height: 3px;
    width: calc(100% - 20%);
}

.step {
    margin-top: 620px;
}

.step__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step__title-main {
    font-size: 44px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 72px;
    max-width: 800px;
}

.step__content-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -100px;
}

.step__content-item img{
    margin-right: 120px;
}

.step__box {
    width: 568px;
    height: 280px;
    text-align: start;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse img {
    margin-right: -17px;
}

.download {
    background-image: url('../img/donwload-bg.png');
    height: 516px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.download__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #FFF;
    margin-top: 140px;
    margin-bottom: 10px;
    text-align: center;
}

.download__descripton {
    color: #FFF;
    text-align: center;
}

.download__btn {
    margin-top: 50px;
}

.download__button-playstore {
    width: 142px;
    height: 64px;
    background-color: #FA4A0C;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    margin-right: 16px;
}

.download__button-appstore {
    width: 173px;
    height: 60px;
    background-color: transparent;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 170px;
}


.footer__logo {
    margin-left: 186px;
}

.social__item-img {
    margin-right: 24px;
}

.Copywrigh {
    margin-right: 160px;
}

@media (max-width: 1250px) {
    .step__content-item {
        max-width: 1000px;
    }
}

@media (max-width: 1050px) {
    .container {
        padding: 0;
    }

    .app__title {
        font-size: 50px;
        line-height: 80px;
        max-width: 832px;
    }

    .step__content-item {
        max-width: 895px;
    }
}

@media (max-width: 970px) {
    
    .step__box {
        width: 350px;
        height: 400px;
        text-align: center;
    }

    .step__subtitle {
        margin-bottom: 30px;
    }

    .step__title-main {
        margin-top: 30px;
        font-size: 24px;
        margin-bottom: 100px;
    }

    .step__content-item {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: -120px;
    }

    .step__content-item img {
        margin-top: -120px;
        margin-right: 0;
    }

    .menu {
        display: block;
        position: absolute;
        top: 135px;
        left: 0;
        background: rgb(245, 246, 246);
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -200%;
        transition: all 0.4s ease;
    }

    .menu li {
        margin: 40px 0px 40px 33px;
        font-size: 14px;
    }

    .menu.open-menu {
        left: 0;
    }

    .menu-burger__header {
        position: relative; 
        width: 40px;
        height: 35px;
        display: block;
        margin-right: 23px;
    }

    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #737373;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 21px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 15px;
    }

    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }

    .footer__logo {
        margin-left: 100px;
    }
}

@media (max-width: 895px) {

    .app {
        background-image: none;
        background-color: #FAFAFA;
        height: 780px;
    }

    .app__subtitle {
        font-size: 16px;
        line-height: 24px;
        color: #737373;
    }

    .app__title {
        font-size: 36px;
        line-height: 42px;
        color: #252B42;
        max-width: 400px;
    }

    .app__title span {
        display: inline;
    }

    .app_description {
        color: #737373;
        max-width: 350px;
        text-align: center;
    }

    .app__btn {
        display: flex;
        flex-direction: column;
    }
    
    .app__button-playstore {
        margin-bottom: 17px;
    }

    .app__button-appstore {
        border-color: #FA4A0C;
    }

    .app__button-appstore a {
        color: #FA4A0C;
    }

    .app__img {
        margin: -120px 0 0 -160px;
    }

    .app__end {
        max-width: 500px;
    }

    .step__content-item img{
        margin-left: -25px;
    }

    .download {
        background-image: none;
        background-color: #252B42;
    }

    .download__title {
        max-width: 500px;
    }

    .download__descripton {
        max-width: 500px;
    }

    .footer {
        justify-content: center;
    }

    .footer__logo {
        display: none;
    }

    .Copywrigh {
        display: none;
    }
}

@media (max-width: 570px) {
    .app__img {
        margin-left: -165px;
    }

    .download__title {
        max-width: 350px;
    }

    .download__descripton {
        max-width: 400px;
    }
}
@media (max-width: 450px) {
    .app__title {
        max-width: 340px;
    }

    .app__img {
        display: none;
    }

    .app__end {
        margin-top: 60px;
    }
    
    .step__title-main {
        margin-top: -700px;
    }
    .step__content-item img {
        margin-left: -45px;
    }

    .download__descripton {
        max-width: 350px;
    }
    
    .step__content-item img {
    margin-left: -90px;
}
}
